label,  input{
	display: block;
	float: left;
	clear: left;
}

label {	
	text-align: left;
	width: 300px;
	padding-left: 0px;
	padding-bottom: 10px;
}

#fieldsetIndex {
	border: solid 1px #000;
	width: 200px;
}

#fieldsetCadastraB{

	border: solid 1px #000;
	width: 	600px;

}

#fieldsetDeletaB{

	border: solid 1px #000;
	width: 	400px;

}

#paragrafo{
	text-align: right;
	width: 35px;
	padding-right: 20px;
	padding-bottom: 10px;
}
#incluiB{
	
	display:none;
	
	
}

#incluir{ /*div da imagem incluir*/
	
	width: 283px;
	height: 59px;
	
}

#excluir{ /*div da imagem deletar*/
	padding-top: 5px;
	width: 340px;
	height: 60px;
}

#deletaB{

	display:none;
}
.selecao{
	display: block;
	float: left;
	clear: left;
}

.selecao{
	text-align: left;
	width: 300px;
	padding-left: 0px;
	padding-bottom: 10px;
}
.brF{

	clear: left;
}
